<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Adicionar pessoa</title>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<style>

	header {
		background-image: linear-gradient(to right, #4a148c, #7e57c2); 
		color: #fff; 
		padding-top: 5px; 
		padding-bottom: 5px;
		margin-bottom: 5px;
	}

</style>
	

</head>
<body>

	<header>

		<div class="container">
		
			<h1 style="font-size: 32px">Adicionar ou editar pessoa</h1>
				
		</div>

	</header>

	<main>
	
		<div class="container">
			
			<form th:object="${pessoa}" th:action="@{/pessoa/save}" method="post" >
			
				<fieldset>
				
					<div class="row">
						
						<div th:if="${#fields.hasAnyErrors()}">
						
							<div th:each="detailError : ${#fields.detailedErrors()}">
						
								<span th:text="${detailedError.message}"></span>
						
							</div>
						
						</div>
						
					</div>
					
					<input type="hidden" id="id" th:field="*{id}" readonly="readonly" />  
					
					<div class="row">
						
						<div class="input-field col m12" style="margin-bottom: 5px !important" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
							
							<input type="text" id="nome" th:field="*{nome}" required="required" />
								
							<label for="nome">Nome</label> 
							
						</div>
						
					</div>
					
					<div class="row">
						
						<div class="input-field col m8" style="margin-bottom: 5px !important" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
							
							<input type="email" id="email" th:field="*{email}" required="required" />
							
							<label for="email">Email</label>
							
						</div>
						
						<div class="input-field col m4" style="margin-bottom: 5px !important" th:classappend="${#fields.hasErrors('fone')}? 'has-error'">
							
							<input type="text" id="fone" th:field="*{fone}" />
							
							<label for="fone">Fone</label>
							
						</div>
						
					</div>
					
				</fieldset>
				
				<br />
				
				<div class="row" style="margin-bottom: 5px !important">
				
					<button type="submit" class="btn waves-effect blue darken-3">Salvar</button>
					<a th:href="@{/pessoa}" class="btn waves-effect red darken-3">Cancelar</a>
				
				</div>
				
			</form>
			
		</div>
	
	</main>

</body>
</html>